

a{text-decoration: none;}a:ACTIVE,a:LINK{color:blue}a:VISITED,a:HOVER{color:blue}

.menu{overflow: hidden;}.menu ul{}.menu ul li{width:80px;list-style: none;float: left}.menu li.active a{color:red;font-weight: bold;};





